*.idea
*.autosave
*.mex*
*.exp
*.pdb
*.lib
*.ilk
*.o
*.aux
*.log
*.bbl
*.blg
*.bk
*.tmp
*.d
*.toc
*.class
*.snm
*.nav
*.so
*~
/.ci
.dir-locals.el
fort.*
*.aux
debug.txt
.viewer-prefs
*.dSYM
*_mexdebug.mat
*.class
bin
/lib
*.out
pod-build
/BUILD
/build
cmake-build-*
.#*
.cproject
.project
.settings
.ccls*


